venv/
venv_spark4/
venv_spark35/

__pycache__/
**/__pycache__/
*.pyc

.pytest_cache/

data/*.jsonl

.env

m14_test_record.json

# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.*